/* You can add global styles to this file, and also import other style files */

html,
body {
  font-family: "arial-bold";
  padding: 0;
  margin: 0;
}

/* keeps things in their right shape */
* {
  box-sizing: border-box;
}

/* font family CDN */
@font-face {
  font-family: "arial-bold";
  src: url("//db.onlinewebfonts.com/t/6c49e43018ee17b6cdbb80fe846b214d.eot");
  src: url("//db.onlinewebfonts.com/t/6c49e43018ee17b6cdbb80fe846b214d.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/6c49e43018ee17b6cdbb80fe846b214d.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/6c49e43018ee17b6cdbb80fe846b214d.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/6c49e43018ee17b6cdbb80fe846b214d.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/6c49e43018ee17b6cdbb80fe846b214d.svg#Arial Rounded MT Bold")
      format("svg");
}
